@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Vidaloka&display=swap');

@font-face {
    font-family: 'Ailerons';
    src: url('../assets/fonts/ailerons/ailerons-typeface-webfont.woff2') format('woff2'),
    url('../assets/fonts/ailerons/ailerons-typeface-webfont.woff') format('woff'),
    url('../assets/fonts/ailerons/ailerons-typeface-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuelight';
    src: url('../assets/fonts/helvetica/helveticaneue_light-webfont.woff2') format('woff2'),
    url('../assets/fonts/helvetica/helveticaneue_light-webfont.woff') format('woff'),
    url('../assets/fonts/helvetica/helveticaneue_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../assets/fonts/helvetica/helveticaneue_medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/helvetica/helveticaneue_medium-webfont.woff') format('woff'),
    url('../assets/fonts/helvetica/helveticaneue_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body {
    color: #333;
    /*font-family: 'Poppins', sans-serif;*/
    font-size:13px;
    font-weight: 400;
    -font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}
.custom-select-sm {min-height: 35px;}
.display_desktop{ display: block; }
.display_mobile{ display: none; }
.mobile-search{ position: absolute; height:50px; width: 100%; left:0; right:0; top:0; z-index: 999; display: none;}
.mobile-search input[type="text"]{ border-radius: 0;}
.mobile-search .btn{ margin:0; background:#000; border: none;}
input::-moz-focus-inner {
    border: 0;
}
h1,h2,h3 * {
    font-family: 'helveticaneuelight', sans-serif;
    font-weight: bold;
}
.mainNav{
    font-size: inherit;
    background: #fff;
}
.mainNav ul{margin-left: 0; padding-left: 0;}
.mainNav ul li{display: inline-block}
.mainNav a, .mainNav a:hover {color:#000; text-decoration: none;}
/*.mainNav [class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}*/
.mainNav input[type="search"]{
    width:0;
    position: relative;
    z-index: 1;
}
.mainNav .navBtn{
margin-top: 3px;
    text-decoration: none;
}
.mainNav .navBtn::-moz-focus-inner {
    border:0;
}
.shopping-count{ display: block; margin-left: 8px; background: rgba(0,0,0,.5); width: 22px; height:22px; border-radius: 50%; text-align: center; }
.no-content{ color:red; font-family: 'helveticaneuelight', sans-serif;}
.small, small {
    font-size: inherit;
    font-weight: inherit;
}
.jscroll-loading{  display: block; max-width: 80px; }
#liked{ background-color: #FF0000; color:#fff;}
#disliked{ }
.cartWrap { padding-left: 0; margin-left: 0;}
.cartWrap li:nth-child(odd){ background:#fff; }
.cartWrap li:nth-child(even){ background:#fafafa; }

.form-control {

    font-size: 1rem;
    min-height: 40px;

}
.curation-post h2{ font-size: 2.5rem; text-transform: uppercase;}
.curation-post ul{ padding-left: 0; line-height: 3rem;}
.nav-link {
    display: block;
    padding: 3px;
}

.filters_nav  .btn-secondary{
    border:1px solid red;
    width: 28px;
    height: 28px;
    display: inline-block;
    background: #000;
    border-radius: 50%;
}
.filters_nav  .card-header{
    padding: 0;
    margin-bottom: 0;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 12px;
}
.filters_nav  .card-body{ padding:0; word-wrap: normal;}
.filters_nav  .card-header{ color:#fff; text-decoration: none; }
.filters_nav  .card .btn{ background: #343a40; color:#fff; border-radius: 0; display: block; width: 100%;}
.filters_nav  .card .btn::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.filters_nav .checkbox-custom, .filters_nav .radio-custom {
    opacity: 0;
    position: absolute;
    border:1px solid red;
}
.filters_nav .checkbox-custom, .filters_nav .checkbox-custom-label, .filters_nav .radio-custom, .filters_nav .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.filters_nav .checkbox-custom-label, .radio-custom-label {
    position: relative;
    background: red;
    height: 28px;
    width: 28px;
    z-index: 10;
    border-radius: 50%;
    line-height: 24px;
}
.filters_nav .checkbox-custom-label, .filters_nav .radio-custom-label {
    position: relative;
    background: red;
    height: 28px;
    width: 28px;
    z-index: 10;
    border-radius: 50%;
    line-height: 24px;
}
.filters_nav .checkbox-custom + .checkbox-custom-label:before, .filters_nav .radio-custom + .radio-custom-label:before {
    content: '';
    background: transparent;
    border: 0px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}
.filters_nav .checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: transparent;
    color: #fff;
}
.filters_nav .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
.filters_nav .radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}
.filters_nav .checkbox-custom:focus + .checkbox-custom-label, .filters_nav .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
}
.filters_nav [type="radio"]:checked + label::before, .filters_nav  [type="radio"]:not(:checked) + label::before {
    opacity: 0;}
.filters_nav [type="radio"]:checked + label::after{ background: transparent; }
.filters_nav [type="radio"]:checked + label,
.filters_nav [type="radio"]:not(:checked) + label{ padding-left: 0; }
.filters_nav .form-check-label {
    font-size: inherit;
}
.filters_nav [type="radio"]:checked + label { color:#000; }
.dropdown-toggle::after{ border:none; }
[for="categoryId-2"]{ margin-left:15px; }
.page-item.active .page-link { background-color: #000; border-color: #000; }
.page-link { color:#000; }
.shares{ }

.shares .button:hover {
    background-color: #000;
    color: #fff;
}

/*
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
* {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border:none;
}
*/

.nav-item a {

    font-size: 12px;
}
.nav-item2 a {

    font-size: 12px;
    float: left;
}

.loading-text {
    font-size: 23px;
    font-family: Ailerons;
    text-align: center;
}


.link-line {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.link-line::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.navbar-light .navbar-toggler {
    color: #000;
    border:0px;
    border-color: #000;
    border-top-color:#000;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgba(0, 0, 0, 0.1);
}

.link-line:hover::after {
    width: 100%;
//transition: width .3s;
}
.home-featured{
    max-height: 550px;
    overflow: hidden;

}

.home-featured-column p{font-size: 1.5rem; font-family: 'helveticaneuelight', sans-serif; font-weight: bold; }
#navlogo {
    font-size: 2.8rem;
    font-family: 'Ailerons', sans-serif;
    text-align: center;
    text-transform: capitalize;
    z-index: 40;
}

#navlogomobile {
    font-size: 23px;
    font-family: 'Ailerons', sans-serif;
}

.navbar-brand {
    font-family: 'Ailerons', sans-serif;
    font-size: 29px;
}

.navbar-brand a {
    font-size: 29px;
}

.container {
    margin-top: 10px;


}

.imgAbt {
    margin-left: 0;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-copyright {
    font-size: 10px;
    margin-bottom: .25rem;

}

.my-copyright a {
    text-decoration: none;
}

.my-facebook {
    width: 13px;
    height: auto
}

.my-insta {
    width: 15px;
    height: auto
}

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#fff; min-height:50px; padding:5px 0px 5px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:5px ;}
footer p { font-size:10px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc {  list-style-type:none ; font-size:10px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.foote_bottom_ul_amrc {


    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    font-size: 12px;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:black; margin:0 5px; text-decoration: none;}



.social_footer_ul { display:table; margin-top: 15px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto; list-style-type:none;
    justify-content: center;

}

.social_footer_ul li { padding-left:20px; padding-top:10px;float:left;}
.social_footer_ul li a { color:black; border:0 solid black; padding:4px;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}


.btn-google {
    color: red;
    background-color: white;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.btn-social-icon {
    background-color: white ;
    border-radius: 50%;
    color: white;


}

ul.social {
    margin: 5px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    text-align: center;
}

ul.social > li {
    display: inline-block;
}

ul.social > li > a {
    display: inline-block;
    font-size: 28px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 36px;
    background-color: white;
    color: #fff;
    margin: 0 15px 15px 0;
}

ul.social > li > a:hover {
    text-decoration: none;
    background-color: #ee7c22;
}

ul.social > li > a > span.fa-twitter {
    background-color: #1da1f2 !important;
    border-radius: 36px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

ul.social > li > a > span.fa-google-plus-g {
    background-color: #f34a38 !important;
    border-radius: 36px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}


ul.social > li > a > span.fa-facebook-f {
    background-color: #3b5998 !important;
    border-radius: 36px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

ul.social > li > a > span.fa-whatsapp {
    background-color: #25D366!important;
    border-radius: 36px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}


.navbar-default .navbar-nav>li {
    display: inline-block;
}


.loginsocial h4 {
    font-size: 10px;
}

.alternative h4 {
    font-size: 10px;
    margin-top: 15px;

}



.form-check-label {
    font-size: 10px;
}

.form-group {
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 10px;
}

#exampleInputEmail1  {
    font-size: 14px;
}

#exampleInputPassword1 {
    font-size: 14px;
}

.myloginbtn {

}

h5.modal-title {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.forgotpassword {
    margin-top: 10px;
}



.myheader {
    margin-top: 20px;
}

.sidenav li a {
    text-decoration: none;
    color: black;
    font-size: 12px;

}

.sidenav ul {
    list-style-type: none;
}

.nav-pills a {
    font-size: 10px;
    color: black;
}

#v-pills-tab {
    color: black;

}

.tab-content {
    font-size: 13px;

}

.nav-pills-2 a {
    font-size: 10px;
    color: black;
}

#v-pills-tab2 {
    color: black;

}

.tab-content2 {
    font-size: 13px;

}

#pills-taba.active {
    color: white ;
    background-color: black !important;

}


.item {
    display: inline-block;
    background: #fff;
    margin: 0 0em;
    width: 100%;
    -webkit-transition:1s ease all;


}
.item img{max-width:100%;}

@media screen and (max-width: 448px){
    #navlogo {margin-left: -20px;}
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}




.nav-pills>a.active,
.nav-pills>a:hover,
.nav-pills>a:focus {
    background-color: black !important;
    color: white;
}

.mytwitter {
    color: white;
}

listy a {
    font-size: 1px;
    color: black;
}

.custom-control {

}





.rounded-post {
    border-radius: 10px !important;
}


.rounded {
    border-radius:15px !important;
    -moz-border-radius:55px;
    -webkit-border-radius:55px;
}

text {
    font-size: 10px;
}

::-webkit-input-placeholder {
    font-size: 13px!important;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 13px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px!important;
}

.postimage {
    margin-top: 20px;
    padding-top: 20px;
}




#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color:#fff;
    float: left;
    height:100%;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}

.navbar-default ul > li > a  {
    display: inline-block;
}


#main {
    height:100%;
    overflow:auto;
}

.card {border: none !important;

}

.card-title {
    font-size: 14px;
}

.card-text {
    font-size: 10px;
}

.card-img-top:hover {
    background-color:#000;
    opacity:0.5;
}

.bg-custom {
    background-color: #fff;
}

.nav-bgc {
    background-color: #fff;
}

.heart {
    margin-left: 35%;
}

.likeshare a{
    text-decoration: none;
    color: black;
}


.clothing-info a{color: #000000;




}

.btn i {

    color: black;
}

.img-post:hover {
    background-color:#000;
    opacity:0.5;
}

.img-post:hover .numbers .number1 {
    display: block;


}

.numbers .number1 {

    padding-top: 7px;
    padding-right:7px;
    position: absolute;
    right: 0;
    top: 0;

}

.facebook-social {
    margin-right: 2px;
    right: 2px;
}


.social-links {
    list-style-type:none;
    padding:0px;
    display:table;
    font-size: 12px;
    margin: 15px auto;
}
.social-links li { display:inline;}
.social-links li a { color:black; margin:0 5px;}
a.footerdomain, a.footerdomain:hover{text-decoration: none;}

.thrift-logo {

    height: 150px;
    width: auto;
    margin-top: 50px;

}

.price-menu {

    font-size: 10px;
    font-weight: bold;

}

.item-name-menu {

    font-size: 10px;
    color: black;

}

.item-name-menu a {
    color: black;
}


.carousel {
    margin-top: 20px;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%;
}

.share-social-product a{
    text-decoration: none;
    color: black;
}

.info-tabs ul li a{ color: black;

}

.dot1 {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.dot2 {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.dot3 {
    height: 15px;
    width: 15px;
    background-color: navy;
    border-radius: 50%;
    display: inline-block;
}
.dot4 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.dot5 {
    height: 15px;
    width: 15px;
    background-color: grey ;
    border-radius: 50%;
    display: inline-block;
}
.dot6 {
    height: 15px;
    width: 15px;
    background-color: green ;
    border-radius: 50%;
    display: inline-block;
}
.dot7 {
    height: 15px;
    width: 15px;
    background-color: pink ;
    border-radius: 50%;
    display: inline-block;
}
.dot8 {
    height: 15px;
    width: 15px;
    background-color: maroon ;
    border-radius: 50%;
    display: inline-block;
}
.dot9 {
    height: 15px;
    width: 15px;
    background-color: blue ;
    border-radius: 50%;
    display: inline-block;
}

.dot10 {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.dot11 {
    height: 15px;
    width: 15px;
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
}

.dot12 {
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.2s 0.4s ease-in-out;
    transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}


/* clth:style curation color selection */

.footerdomain {color: black;}



input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 50%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #fff url('/assets/images//search-icon.png') no-repeat 9px center;
    border: solid 1px rgba(0,0,0,0);
    padding: 3px 10px 3px 32px;
    width: 55px;
    font-size: inherit;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: transparent;
    border-color: rgba(0,0,0,.1);
/*
    -webkit-box-shadow: 0 0 5px rgba(0,0,0);
    -moz-box-shadow: 0 0 5px rgba(0,0,0);
    box-shadow: 0 0 5px rgba(0,0,0);*/
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;

}
#demo-2 input[type=search]:hover {
    background-color: transparent;
}
#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

#body-row {
    margin-left:0;
    margin-right:0;
}



#sidebar-container {
   /* min-height: 100vh;*/
    background-color: #ffff;
    padding: 0;
}




/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: #000000;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.3rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #ffff;
    height: 35px;
}
.sidebar-separator {
    background-color: #ffff;
    height: 25px;
}
.logo-separator {
    background-color: #ffff;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.form-check-black {
    background-color: black !important;
    width: 10px;
    height: 15px;
}


* {
    box-sizing: border-box;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label span {
    transform: scale(1.25);
}

input[type="radio"]:checked + label .red {
    border: 2px solid #711313;
}

input[type="radio"]:checked + label .orange {
    border: 2px solid #873a08;
}

input[type="radio"]:checked + label .yellow {
    border: 2px solid #816102;
}

input[type="radio"]:checked + label .olive {
    border: 2px solid #505a0b;
}

input[type="radio"]:checked + label .green {
    border: 2px solid #0e4e1d;
}

input[type="radio"]:checked + label .teal {
    border: 2px solid #003633;
}

input[type="radio"]:checked + label .blue {
    border: 2px solid #103f62;
}

input[type="radio"]:checked + label .violet {
    border: 2px solid #321a64;
}

input[type="radio"]:checked + label .purple {
    border: 2px solid #501962;
}

input[type="radio"]:checked + label .pink {
    border: 2px solid #851554;
}

label {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

label:hover span {
    transform: scale(1.25);
}

label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
}

label span #red {
    background: #DB2828;
}

label span.orange {
    background: #F2711C;
}

label span.yellow {
    background: #FBBD08;
}

label span.olive {
    background: #B5CC18;
}

label span.green {
    background: #21BA45;
}

label span.teal {
    background: #00B5AD;
}

label span.blue {
    background: #2185D0;
}

label span.violet {
    background: #6435C9;
}

label span.purple {
    background: #A333C8;
}

label span.pink {
    background: #E03997;


}

.scrollable-menu {
    height: auto;

    overflow-x: visible;
}

.social-button {
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-twitter i {
    color: #fff;
}

.btn-facebook i {
    color: #fff;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.google-btn {
    margin-left: 30%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}
.google-btn .btn-text {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #757575;
    font-size: 12px;
    letter-spacing: .2px;
    user-select: none
}
.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.facebook-btn {
    margin-left: 30%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #3b5998;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}

.facebook-btn .btn-text {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #fff;
    font-size: 12px;
    letter-spacing: .2px;
    font-family: Myriad Pro;
    user-select: none
}

.facebook-btn .facebook-icon-svg {
    position: absolute;
    margin-top: 6px;
    margin-left: 2px;
    width: 23px;
    height: 23px;
    user-select: none
}

.facebook-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.facebook-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.twitter-btn {
    margin-left: 30%;
    min-width: 184px;
    max-width: 184px;
    height: 42px;
    background-color: #1DA1F2;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.twitter-btn .twitter-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.twitter-btn .twitter-icon-svg {
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
    width: 28px;
    height: 28px;
    user-select: none
}
.twitter-btn .btn-text {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #fff;
    font-size: 12px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.twitter-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.twitter-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    color: #000000;
    border: black;

}

.wrap-like {
    display: flex;

}

.button {
    width: 70px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #FF0000;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.wrap-like {
    display: flex;

}

.button-share {
    width: 70px;
    height: 70px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-share:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.tabs-left {
    border-bottom: none;
    border-right: 1px solid #ddd;
}

.tabs-left>li {
    float: none;
    margin:0px;

}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    background:#f90;
    border:none;
    border-radius:0px;
    margin:0px;
}
.nav-tabs>li>a:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    /* border-radius: 4px 4px 0 0; */
}
.tabs-left>li.active>a::after{content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #f90;
    display: block;
    width: 0;}

.order-details { list-style-type:none ; font-size:10px; padding:0px 0px 10px 0px ; }
.order-details li {padding:0px 0px 5px 0px;}
.order-details li a{ color:#CCC;}
.order-details li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.order-details {margin:0px; list-style-type:none; padding:0px;}
.order-details li p { display:table; }
.order-details li a:hover { text-decoration:none;}
.order-details li i { margin-top:5px;}

.order-details {


    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    font-size: 12px;
}
.order-details li { display:inline;}
.order-details li a { color:black; margin:0 10px;}


.order-details2 { list-style-type:none ; font-size:10px; padding:0px 0px 10px 0px ; }
.order-details2 li {padding:0px 0px 5px 0px;}
.order-details2 li a{ color:#CCC;}
.order-details2 li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.order-details2 {margin:0px; list-style-type:none; padding:0px;}
.order-details2 li p { display:table; }
.order-details2 li a:hover { text-decoration:none;}
.order-details2 li i { margin-top:5px;}

.order-details2 {


    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    font-size: 12px;
}
.order-details2 li { display:inline;}
.order-details2 li a { color:grey; margin:0 15px;}

.order-info {
    color: #000000;
}



.widget-author {
    margin-bottom: 58px;
}
.author-card {
    position: relative;
    padding-bottom: 48px;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
}
.author-card .author-card-cover > .btn2 {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
}
.author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
    width: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
}
.author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
}
.author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #ac32e4;
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}
.list-group-item.active:not(.disabled)::before {
    background-color: #ac32e4;
}

.list-group-item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    content: '';
}

.shopping-bag-pic {
    max-width: 100px;
    max-height: 100px;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
.hidesevensixseven{display: block;}
@media screen and (max-width: 767px){

    #v-pills-tab{ flex-direction: inherit; display: initial;}
    #v-pills-tab .nav-link{  min-width: 100px; text-align: center; padding:5px; margin-top:5px;}



    input[type="search"]{
        height: 30px;
        width:100%;
        z-index: 50;
        border-top:0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        margin-top: 8px;
        min-width: 200px
    }

    .display_desktop{ display: none; }
    .display_mobile{ display: block; }

}

@media screen and (min-width: 590px) and (max-width: 767px){
    .customdisplay{ display: none; border:1px solid red;}
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn2{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn2{display:block;}

}





ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    box-sizing: border-box;
}



img {
    max-width: 100%;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.wrap {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5% 0;
    margin-bottom: 5em;
}

.projTitle {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.projTitle span {
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    color: #777;
}

.heading {
    padding: 1em 0;
    border-bottom: 1px solid #D0D0D0;
}
.heading h1 {
    font-size: 2em;
    float: left;
}
.heading a.continue:link, .heading a.continue:visited {
    text-decoration: none;
    letter-spacing: -.015em;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    background: #000000;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    border: 1px solid #000000;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.heading a.continue:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
    background: #fff;
    color: #000000;
    border: 1px solid #000000;
}
.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
    right: -10px;
}

.tableHead {
    display: table;
    width: 100%;
    font-size: .75em;
}
.tableHead li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
}
.tableHead li.prodHeader {
    text-align: left;
}

.cart {
    padding: 1em 0;
}
.cart .items {
    display: block;
    width: 100%;
    vertical-align: middle;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
}
.cart .items.even {
    background: #fafafa;
}
.cart .items .infoWrap {
    display: table;
    width: 100%;
}
.cart .items .cartSection {
    display: table-cell;
    vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
    font-size: .75em;
    color: #777;
    margin-bottom: .5em;
}
.cart .items .cartSection h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
}
.cart .items .cartSection p {
    display: inline-block;
    font-size: .85em;
    color: #777777;
}
.cart .items .cartSection p .quantity {
    font-weight: bold;
    color: #333;
}
.cart .items .cartSection p.stockStatus {
    color: #82CA9C;
    font-weight: bold;
    padding: .5em 0 0 1em;
    text-transform: uppercase;
}
.cart .items .cartSection p.stockStatus.out {
    color: #F69679;
}
.cart .items .cartSection .itemImg {
    width: 4em;
    float: left;
}
.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
    text-align: center;
}
.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
    font-weight: bold;
    font-size: 1.25em;
}
.cart .items .cartSection input.qty {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: .25em;
    margin: 1em .5em 0 0;
}
.cart .items .cartSection .itemImg {
    width: 8em;
    display: inline;
    padding-right: 1em;
}

.special {
    display: block;
}

.special .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: .5em;
    border-top: 1px solid #dadada;
}

.special .specialContent:before {
    content: "\21b3";
    font-size: 1.5em;
    margin-right: 1em;
    color: #6f6f6f;
}

/*.btn-secondary{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #000000;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    border: 1px solid #000000;
}*/

.btn-secondary {
    color: #fff;
    letter-spacing: -.015em;
    background-color: #000000;
    border-color: #000000;
    font-size: 1em;
    padding: 1em 3em;
    font-weight: bold;
    border-radius: 50px;
    text-align: right;
    font-family: "Montserrat", sans-serif;
}
a.remove {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: #e0e0e0;
    padding: 15px;
    font-size: 20px;
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 5px;
    text-align: center;
}
a.remove:hover {
    background: #f30;
}
.promoCode {
    border: 2px solid #efefef;
    float: left;
    width: 35%;
    padding: 2%;
}
.promoCode label {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 1.15em;
    margin-bottom: .5em;
    letter-spacing: -.025em;
}
.promoCode input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
}
.promoCode input:active, .promoCode input:focus {
    outline: 0;
}
.promoCode a.btn2 {
    float: left;
    width: 15%;
    padding: .75em 0;
    border-radius: 0 1em 1em 0;
    text-align: center;
    border: 1px solid #000000;
}
.promoCode a.btn2:hover {
    border: 1px solid #000000;
    background: #fff;
    color :#000000;
}

.btn2:link, .btn2:visited {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #000000;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    border: 1px solid #000000;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.btn2:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.btn2:hover, .btn2:focus, .btn2:active {
    background: #fff;
    color: #000000;
    border: 1px solid #000000;
}
.btn2:hover:after, .btn2:focus:after, .btn2:active:after {
    right: -10px;
}
.promoCode .btn2 {
    font-size: .85em;
    paddding: .5em 2em;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
    float: right;
    width: 35%;
}
.subtotal .totalRow {
    padding: .5em;
    text-align: right;
}
.subtotal .totalRow.final {
    font-size: 1.25em;
    font-weight: bold;
}
.subtotal .totalRow span {
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
}
.subtotal .totalRow .label {
    font-family: "Montserrat", sans-serif;
    font-size: .85em;
    text-transform: uppercase;
    color: #777;
}
.subtotal .totalRow .value {
    letter-spacing: -.025em;
    width: 35%;
}

.subtotal2 {
    float: right;
    width: 35%;
}
.subtotal2 .totalRow {
    padding: .5em;
    text-align: right;
}
.subtotal2 .totalRow.final {
    font-size: 1.25em;
    font-weight: bold;
}
.subtotal2 .totalRow span {
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
}
.subtotal2 .totalRow .label {
    font-size: .85em;
    text-transform: uppercase;
    color: #777;
}
.subtotal2 .totalRow .value {
    letter-spacing: -.025em;
    width: 35%;
}

@media only screen and (max-width: 39.375em) {
    .wrap {
        width: 98%;
        padding: 2% 0;
    }

    .projTitle {
        font-size: 1.5em;
        padding: 10% 5%;
    }

    .heading {
        padding: 1em;
        font-size: 90%;
    }

    .cart .items .cartSection {
        width: 90%;
        display: block;
        float: left;
    }
    .cart .items .cartSection.qtyWrap {
        width: 10%;
        text-align: center;
        padding: .5em 0;
        float: right;
    }
    .cart .items .cartSection.qtyWrap:before {
        content: "QTY";
        display: block;
        padding: .25em;
        font-size: .75em;
    }
    .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
        display: none;
    }
    .cart .items .cartSection .itemImg {
        width: 25%;
    }

    .promoCode, .subtotal {
        width: 100%;
    }

    a.btn2.continue {
        width: 100%;
        text-align: center;
    }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.table {
    width: 50%;
    margin: 0 auto !important;
}

.sm-list {
    display: inline !important;


}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.bag-menu {
    height: 21px;
    width: 21px;
}

.closet-menu {
    height: 21px;
    width: 21px;
}

.modal-width {

    width: 360px !important;

}

.badge {
    background-color: black;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/** MAIN CSS **/
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear-all {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.user-banner {
    width: 180px;
    padding: 1px 0px 1px 0px;
    background: #68de99;
    text-align: center;
}

.user-banner img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    width: 50px;
    margin-right: 5px;
    border-radius: 100%;
}

.user-banner .username {
    font-weight: bold;
}


#main .timeline .item .circle {
    position: absolute;
    top: 20px;
    left: -42px;
    background: #acbbc7;
    border: 1px solid #ccc;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

#main .timeline .item .message {
    position: relative;
    z-index: 2;
    padding: 15px 20px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#main .timeline .item .message:before {
    position: absolute;
    z-index: 0;
    content: "";
    top: 25px;
    left: -6px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-top-color: #fff;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: transparent;
    filter: drop-shadow(-1px 0 1px rgba(0, 0, 0, 0.08));
    transform-origin: 0 0;
    transform: rotate(-45deg);
}

.float{
    position:absolute;
    width:50px;
    height:50px;
    bottom:40px;
    right:40px;
    top:80%;
    background-color:#000;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    line-height: 49px;
}

.my-float{
    margin-top:1px;
}
.card h4 {
    margin-top: 16px;
    text-transform: capitalize;
}

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Bounce Out */
.hvr-bounce-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Push */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/*begin:: WhatsApp Chat*/
.socialFooterContainer{display:none;}
@media screen and  (min-width:100px) and (max-width:992px){
    .socialFooterContainer{
        width:50px;
        height:50px;
        display:block;
        position:fixed;
        left:20px;
        bottom:20px;
        z-index:999;
        background: transparent url('/assets/images/whatsapp-footer.png') no-repeat center center / 100%;
        -webkit-animation: whatsapp 1s infinite  alternate;
        animation: whatsapp 1s infinite  alternate;
    }
    .socialFooterContainer a{
        width:50px;
        height:50px;
        display:block;
    }

    @-webkit-keyframes whatsapp {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes whatsapp {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
}
/*end:: WhatsApp Chat*/