<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <style type="text/css">
        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }
    </style>
</head>
<table width="35%" align="center" style="border:1px solid #000;" cellpadding="10">
    <tr>
        <td align="center">
            <img src="../../../public/assets/images/logo.png" width="100">
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>Capsule Order</p>
            <p>Order Status : Pending</p>
            <p>Date Received : Pending</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table width="80%" align="center" style="border:1px solid #000;" cellpadding="10">
                <tr>
                    <td colspan="5">
                     <p>Dear {{ username }}, we have received your Capsule Order and it is under processing, once this have been approved you will receive notification immediately.</p>
                    </td>
                </tr>
                <tr>
                    <td><p><strong>No:</strong></p></td>
                    <td><p><strong>Item:</strong></p></td>
                    <td><p><strong>Code:</strong></p></td>
                    <td><p><strong>Qty:</strong></p></td>
                    <td><p><strong>Total:</strong></p></td>
               </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left">
            <p>For any inquiries please email <a href="mailto:orders@clth.co.za">orders@clth.co.za</a> </p>
            <p>Copyright 2020 | All Rights Reserved | <a href="https://clth.co.za" target="_blank"> CLTH GROUP</a> </p>
        </td>
    </tr>
</table>


<body>


</body>
</html>